@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
$font1		: 'Open Sans', sans-serif;
$shadowcolor: rgba(0, 0, 0, 0.1);
$bigfont	: 25px;
$mediumfont	: 20px;
$smallfont	: 16px;
$tinyfont	: 13px;
$color1		: #505050;
$color2		: #d5deef;
$color3		: #007ee5;
$color4		: #707d86;
$color5		: #f4f8f9;
$color6		: #f6f6f6;
$color7		: #b7b8bf;
$color8		: #ecf1f5;	
$color9		: #727e88;

body{
font-family: $font1;
color : $color1;
margin:0;
height:100vh;
}

.login{
	@media screen and (min-width: 362px) {
		background: url('../images/fullscreen_bg_image.jpg') no-repeat center center;
		background-size:cover;
		height:100%;
	}
	@media screen and (max-width: 361px) {
		background-color:white;
		padding:50px 35px;
		height:100%;
	}
}
.user{
	background-color:$color5 !important;
	height:100%;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($boxvar){
  -webkit-box-shadow: $boxvar;
     -moz-box-shadow: $boxvar;
      -ms-box-shadow: $boxvar;
          box-shadow: $boxvar;
}

.form{
@include border-radius(3px);
@include box-shadow (0 0 10px rgba(0, 0, 0, 0.5));
background-color: white;
width: 30%;
text-align:center;
padding:35px 45px;
margin: 50px auto 0 auto;

@media screen and (max-width: 361px) {
	width:auto !important;
	@include border-radius(0px);
	@include box-shadow (0 0 0px rgba(0, 0, 0, 0));
	margin:0;
	padding:0;
	.hr{
	display:none;
	}

	.button--primary{
	position:fixed;
	bottom:0;
	left:0;
	@include border-radius(0px);
	}

	.form--agree{
	text-align:left;
	padding: 20px 0 0 0 !important;
	}
}
	.form--title{
	font-size: $mediumfont;
	font-weight:600;
	}

	.form--agree{
		font-size:$tinyfont;
		color: $color4;
		font-weight:600;
		margin-bottom:10px;
		padding:20px;
		a{
			color: $color3;
			text-decoration:none;
		}
	}
}

.form--group{
position:relative;
		.form--label{
		  color:$color1; 
		  font-size:$smallfont;
		  position:absolute;
		  pointer-events:none;
		  left:0;
		  top:10px;
		  transition:0.2s ease all; 
		  -moz-transition:0.2s ease all; 
		  -webkit-transition:0.2s ease all;
		}

		input{
		font-family : $font1 !important;
		display:block;
		width:100%;
		font-size:$smallfont;
		color : $color1;
		padding : 10px 0px;
		border:none;
		border-bottom : 1px solid $color2;
		box-sizing: border-box;
		margin-top: 50px;
		}

		input:focus ~ .form--label, input:valid ~ .form--label{
		  top:-20px;
		  font-size:$tinyfont;
		  font-weight:600;
		  color: $color4;
		  text-transform: uppercase;
		}

		input:invalid{
		box-shadow: none;
		}
}

.profile{
margin:auto;
width:75%;
@media screen and (max-width: 361px) {
	width:auto !important;
	.profile--top{
	background-color:transparent !important;
	@include border-radius(0px);
	@include box-shadow (0 0 0px rgba(0, 0, 0, 0) !important);
	margin:0 !important;

		.profile--cover{
		border:0 !important;
			.profile--upload{
			display:none;
			}
			.profile--logout{
				.button--logout{
				border:none !important;
				padding:0;
				}
			}
			.profile--data{
				.profile--imagegroup{
				margin-top:25px;
				float:none !important;
				text-align:center;
					.profile--image{

					}
				}
			}
			.profile--description{
			margin:55px 0 0 0 !important;
			width:100%;
				.profile--descriptionname{
				text-align:center;
				margin-bottom: 15px;
				}
				.profile--descriptiondata{
				font-size: $smallfont !important;
					.icon--text{
					font-size: $smallfont !important;
					}
				}
			}
			.profile--additional{
			float:none !important;
			text-align: left !important;
			margin-top:10px !important;
				.profile--reviews{
					.profile--stargroup{
					font-size: $bigfont;
						.icon--review{
						color:$color3;
						margin-right:0px !important;
						}
					}
					.profile--stardata{
					font-size: $smallfont;display:block !important;
					}
				}
				.profile--followers{
				margin:35px 0 0 0 !important;
				float:none !important;
					.icon--follower{
					font-size:30px !important;
					margin-top:-10px !important;
					color: $color4 !important;
					}
				}
			}
		}
		.profile--menu{
		background-color:white !important;
		width:100%;
		overflow-x:hidden;
		margin-top:15px !important;
		padding-left: 20px !important;
		@include box-shadow (0 0 10px rgba(0, 0, 0, 0.15));
		}
	}
	.profile--bottom{
	margin-top:15px !important;
	margin-bottom:35px;
		.profile--bottomgroup{
			.about--title{
				.about--text{
				display:inline;
				}
				.icon--title{
				font-size:$smallfont !important;display:initial;float:right;padding:3px 10px;
				}
			}
			.about--group{
				.about--text{
				background-color:transparent !important;
				line-height: 5px;
					.icon--text{
					font-size:$smallfont !important;
					}
				}
				.icon--edit{
				display:none;
				}
			}
			.about--name{
				.about--type{
				display:block !important;
				padding:6px 10px;
				margin-bottom: 10px;
				}
			}
			.profile--editmob{
				.profile--editbutton{
				text-align: right;
					.button{
					color:$color3 !important;
					background-color:transparent !important;
					border:0 !important;
					padding:0 5px 0 0 !important;
					}
					.button--cancel{
					margin-right:20px;
					}
					.about--text{
					float:left;font-weight:600;font-size:$mediumfont;
					}
				}
				input{
				width:100% !important;
				}
			}
		}
		#settings{
			.profile--editmob{
				.profile--editbutton{
					.button{
					display:initial !important;
					}
				}
				.button--group{
					display:none !important;
				}
			}
		}
	}
}
	.profile--top{
	background-color:white;
	@include border-radius(3px);
	@include box-shadow (0 0 10px rgba(0, 0, 0, 0.15));
	margin-top:25px;
		.profile--cover{
		padding:20px 20px 0 20px;border-bottom: 1px solid #f6f6f6;
			.profile--logout{
			text-align: right;
			}
			.profile--upload{
			text-align:center;
			}
			.profile--data{
			display: inline-block;width: 100%;
				.profile--imagegroup{
				float:left;
					.profile--image{
					width: 150px;height: 150px;margin-bottom: -40px;box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
					}
				}
				.profile--description{
				display: inline-block;margin-left: 25px;margin-top: 22px;
					.profile--descriptionname{
					font-weight: 600;font-size: 20px;
					}
					.profile--descriptiondata{
					font-size: 13px;margin-top: 8px;color:$color4;
					}
				}
				.profile--additional{
				float:right;margin-top: 22px;text-align: right;font-weight: 600;
					.profile--reviews{
					color: $color4;
						.profile--stargroup{
						margin-right:20px;display: inline-block;
						}
						.profile--stardata{
						display: inline-block;font-size: $smallfont;;
						}
					}
					.profile--followers{
					margin-top: 85px;margin-bottom: -60px;font-size: 15px;float:right;
						.profile--followfont{
						color:$color4;
						}
					}
				}
			}
		}
		.profile--menu{
		padding:15px 20px 15px 185px;box-sizing: border-box;cursor:pointer;width:100%;
		overflow-x:none;white-space:nowrap;
			.profile--menuitem{
			display:inline;padding:0 8px 12px 8px;margin-right:4px;margin-bottom:-12px;display: inline;
			position:relative;
			}

			.profile--menuitem--active{
			border-bottom:3px solid $color3;
			}
		}
	}

	.profile--bottom{
	background-color:white;
	@include border-radius(3px);
	@include box-shadow (0 0 10px rgba(0, 0, 0, 0.15));
	margin-top:25px;	
		.profile--bottomgroup{
		padding:20px !important;
		display:none;
			.about--title{
			padding: 15px 0;margin-bottom: 15px;font-size: 20px;color:$color9;
			}
			.about--group{
			font-size: 14px;
			margin-bottom: 2px;
				.about--text{
				display: inline-block;padding:6px 10px;background-color: $color5;
				}
			}
			.about--name{
			font-weight:600;
				.about--type{
				color: $color4;
				display:none;
				}
			}
			.profile--editmob{
				.about--text{
				color:$color9;
				font-size:$mediumfont;
				}
				input{
				width:auto;
				}
			}
		}
		.profile--bottomgroup--active{
		display:block;
		}
		#settings{
			.profile--editmob{
				.profile--editbutton{
					.button{
					display:none;
					}
				}
			}
		}
	}

	#aboutedit{
	display:none;
	}

	.profile--popup{
	display:none;
	background-color: white;
	@include box-shadow(0 0 10px rgba(0,0,0,0.4));
	@include border-radius(3px);
	width:220px;
	padding: 10px 25px;
	position:absolute;
		.profile--triangle{
		width: 0; height: 0; border-top: 10px solid transparent;border-bottom: 10px solid transparent; border-right:15px solid white;margin-left: -35px;margin-top: 20px;float: left;
		}
		.profile--etitle{
		font-size: 13px;
		}
		.profile--einput{
		font-size: 16px;border:none;border-bottom: 1px solid #d5deef;width: 100%;box-shadow:none;
		}
	}
}


.button{
	border:0;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px;
	cursor:pointer;
	@include border-radius(3px);
	font-family: inherit;
}

.button--margin{
	margin-right:15px;
}

.button--group{
	margin-top:20px;
}

.button--full{
	width:100% !important;
}

.button--icon{
	margin-right:8px;
}

.button--primary{
	background-color:$color3;
	color: white !important;
	border: 1px solid $color3;
}

.button--primary--inverse{
	background-color:transparent;
	border: 1px solid $color3;
	color: $color3;
}

.button--grey--inverse{
	background-color:transparent;
	border: 1px solid $color2;
	color: $color4;
	font-weight:400;
}

.icon{
	display: inline-block;
	background-color: $color8;
	padding:6px 10px;
	color: $color4;	
}

.icon--edit{
	cursor: pointer;
}

.icon--follower{
font-size: $bigfont;float:left;margin-top: -7px;margin-right: 5px;
}

.icon--title{
	display:none;
}

.icon--edit:hover{
	color:white;
	background-color:$color3;
}

.icon--review{
	margin-right:1px;
}

.icon--text{
color: $color7;font-size: 14px;
}

.hr{
margin:20px 0 10px 0;
border-bottom: 1px solid $color2;
}