@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
body {
  font-family: "Open Sans", sans-serif;
  color: #505050;
  margin: 0;
  height: 100vh; }

@media screen and (min-width: 362px) {
  .login {
    background: url("../images/fullscreen_bg_image.jpg") no-repeat center center;
    background-size: cover;
    height: 100%; } }

@media screen and (max-width: 361px) {
  .login {
    background-color: white;
    padding: 50px 35px;
    height: 100%; } }

.user {
  background-color: #f4f8f9 !important;
  height: 100%; }

.form {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 30%;
  text-align: center;
  padding: 35px 45px;
  margin: 50px auto 0 auto; }
  @media screen and (max-width: 361px) {
    .form {
      width: auto !important;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      -webkit-box-shadow: 0 0 0px transparent;
      -moz-box-shadow: 0 0 0px transparent;
      -ms-box-shadow: 0 0 0px transparent;
      box-shadow: 0 0 0px transparent;
      margin: 0;
      padding: 0; }
      .form .hr {
        display: none; }
      .form .button--primary {
        position: fixed;
        bottom: 0;
        left: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px; }
      .form .form--agree {
        text-align: left;
        padding: 20px 0 0 0 !important; } }
  .form .form--title {
    font-size: 20px;
    font-weight: 600; }
  .form .form--agree {
    font-size: 13px;
    color: #707d86;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 20px; }
    .form .form--agree a {
      color: #007ee5;
      text-decoration: none; }

.form--group {
  position: relative; }
  .form--group .form--label {
    color: #505050;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .form--group input {
    font-family: "Open Sans", sans-serif !important;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #505050;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #d5deef;
    box-sizing: border-box;
    margin-top: 50px; }
  .form--group input:focus ~ .form--label, .form--group input:valid ~ .form--label {
    top: -20px;
    font-size: 13px;
    font-weight: 600;
    color: #707d86;
    text-transform: uppercase; }
  .form--group input:invalid {
    box-shadow: none; }

.profile {
  margin: auto;
  width: 75%; }
  @media screen and (max-width: 361px) {
    .profile {
      width: auto !important; }
      .profile .profile--top {
        background-color: transparent !important;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: 0 0 0px transparent !important;
        -moz-box-shadow: 0 0 0px transparent !important;
        -ms-box-shadow: 0 0 0px transparent !important;
        box-shadow: 0 0 0px transparent !important;
        margin: 0 !important; }
        .profile .profile--top .profile--cover {
          border: 0 !important; }
          .profile .profile--top .profile--cover .profile--upload {
            display: none; }
          .profile .profile--top .profile--cover .profile--logout .button--logout {
            border: none !important;
            padding: 0; }
          .profile .profile--top .profile--cover .profile--data .profile--imagegroup {
            margin-top: 25px;
            float: none !important;
            text-align: center; }
          .profile .profile--top .profile--cover .profile--description {
            margin: 55px 0 0 0 !important;
            width: 100%; }
            .profile .profile--top .profile--cover .profile--description .profile--descriptionname {
              text-align: center;
              margin-bottom: 15px; }
            .profile .profile--top .profile--cover .profile--description .profile--descriptiondata {
              font-size: 16px !important; }
              .profile .profile--top .profile--cover .profile--description .profile--descriptiondata .icon--text {
                font-size: 16px !important; }
          .profile .profile--top .profile--cover .profile--additional {
            float: none !important;
            text-align: left !important;
            margin-top: 10px !important; }
            .profile .profile--top .profile--cover .profile--additional .profile--reviews .profile--stargroup {
              font-size: 25px; }
              .profile .profile--top .profile--cover .profile--additional .profile--reviews .profile--stargroup .icon--review {
                color: #007ee5;
                margin-right: 0px !important; }
            .profile .profile--top .profile--cover .profile--additional .profile--reviews .profile--stardata {
              font-size: 16px;
              display: block !important; }
            .profile .profile--top .profile--cover .profile--additional .profile--followers {
              margin: 35px 0 0 0 !important;
              float: none !important; }
              .profile .profile--top .profile--cover .profile--additional .profile--followers .icon--follower {
                font-size: 30px !important;
                margin-top: -10px !important;
                color: #707d86 !important; }
        .profile .profile--top .profile--menu {
          background-color: white !important;
          width: 100%;
          overflow-x: hidden;
          margin-top: 15px !important;
          padding-left: 20px !important;
          -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
      .profile .profile--bottom {
        margin-top: 15px !important;
        margin-bottom: 35px; }
        .profile .profile--bottom .profile--bottomgroup .about--title .about--text {
          display: inline; }
        .profile .profile--bottom .profile--bottomgroup .about--title .icon--title {
          font-size: 16px !important;
          display: initial;
          float: right;
          padding: 3px 10px; }
        .profile .profile--bottom .profile--bottomgroup .about--group .about--text {
          background-color: transparent !important;
          line-height: 5px; }
          .profile .profile--bottom .profile--bottomgroup .about--group .about--text .icon--text {
            font-size: 16px !important; }
        .profile .profile--bottom .profile--bottomgroup .about--group .icon--edit {
          display: none; }
        .profile .profile--bottom .profile--bottomgroup .about--name .about--type {
          display: block !important;
          padding: 6px 10px;
          margin-bottom: 10px; }
        .profile .profile--bottom .profile--bottomgroup .profile--editmob .profile--editbutton {
          text-align: right; }
          .profile .profile--bottom .profile--bottomgroup .profile--editmob .profile--editbutton .button {
            color: #007ee5 !important;
            background-color: transparent !important;
            border: 0 !important;
            padding: 0 5px 0 0 !important; }
          .profile .profile--bottom .profile--bottomgroup .profile--editmob .profile--editbutton .button--cancel {
            margin-right: 20px; }
          .profile .profile--bottom .profile--bottomgroup .profile--editmob .profile--editbutton .about--text {
            float: left;
            font-weight: 600;
            font-size: 20px; }
        .profile .profile--bottom .profile--bottomgroup .profile--editmob input {
          width: 100% !important; }
        .profile .profile--bottom #settings .profile--editmob .profile--editbutton .button {
          display: initial !important; }
        .profile .profile--bottom #settings .profile--editmob .button--group {
          display: none !important; } }
  .profile .profile--top {
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 25px; }
    .profile .profile--top .profile--cover {
      padding: 20px 20px 0 20px;
      border-bottom: 1px solid #f6f6f6; }
      .profile .profile--top .profile--cover .profile--logout {
        text-align: right; }
      .profile .profile--top .profile--cover .profile--upload {
        text-align: center; }
      .profile .profile--top .profile--cover .profile--data {
        display: inline-block;
        width: 100%; }
        .profile .profile--top .profile--cover .profile--data .profile--imagegroup {
          float: left; }
          .profile .profile--top .profile--cover .profile--data .profile--imagegroup .profile--image {
            width: 150px;
            height: 150px;
            margin-bottom: -40px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }
        .profile .profile--top .profile--cover .profile--data .profile--description {
          display: inline-block;
          margin-left: 25px;
          margin-top: 22px; }
          .profile .profile--top .profile--cover .profile--data .profile--description .profile--descriptionname {
            font-weight: 600;
            font-size: 20px; }
          .profile .profile--top .profile--cover .profile--data .profile--description .profile--descriptiondata {
            font-size: 13px;
            margin-top: 8px;
            color: #707d86; }
        .profile .profile--top .profile--cover .profile--data .profile--additional {
          float: right;
          margin-top: 22px;
          text-align: right;
          font-weight: 600; }
          .profile .profile--top .profile--cover .profile--data .profile--additional .profile--reviews {
            color: #707d86; }
            .profile .profile--top .profile--cover .profile--data .profile--additional .profile--reviews .profile--stargroup {
              margin-right: 20px;
              display: inline-block; }
            .profile .profile--top .profile--cover .profile--data .profile--additional .profile--reviews .profile--stardata {
              display: inline-block;
              font-size: 16px; }
          .profile .profile--top .profile--cover .profile--data .profile--additional .profile--followers {
            margin-top: 85px;
            margin-bottom: -60px;
            font-size: 15px;
            float: right; }
            .profile .profile--top .profile--cover .profile--data .profile--additional .profile--followers .profile--followfont {
              color: #707d86; }
    .profile .profile--top .profile--menu {
      padding: 15px 20px 15px 185px;
      box-sizing: border-box;
      cursor: pointer;
      width: 100%;
      overflow-x: none;
      white-space: nowrap; }
      .profile .profile--top .profile--menu .profile--menuitem {
        display: inline;
        padding: 0 8px 12px 8px;
        margin-right: 4px;
        margin-bottom: -12px;
        display: inline;
        position: relative; }
      .profile .profile--top .profile--menu .profile--menuitem--active {
        border-bottom: 3px solid #007ee5; }
  .profile .profile--bottom {
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 25px; }
    .profile .profile--bottom .profile--bottomgroup {
      padding: 20px !important;
      display: none; }
      .profile .profile--bottom .profile--bottomgroup .about--title {
        padding: 15px 0;
        margin-bottom: 15px;
        font-size: 20px;
        color: #727e88; }
      .profile .profile--bottom .profile--bottomgroup .about--group {
        font-size: 14px;
        margin-bottom: 2px; }
        .profile .profile--bottom .profile--bottomgroup .about--group .about--text {
          display: inline-block;
          padding: 6px 10px;
          background-color: #f4f8f9; }
      .profile .profile--bottom .profile--bottomgroup .about--name {
        font-weight: 600; }
        .profile .profile--bottom .profile--bottomgroup .about--name .about--type {
          color: #707d86;
          display: none; }
      .profile .profile--bottom .profile--bottomgroup .profile--editmob .about--text {
        color: #727e88;
        font-size: 20px; }
      .profile .profile--bottom .profile--bottomgroup .profile--editmob input {
        width: auto; }
    .profile .profile--bottom .profile--bottomgroup--active {
      display: block; }
    .profile .profile--bottom #settings .profile--editmob .profile--editbutton .button {
      display: none; }
  .profile #aboutedit {
    display: none; }
  .profile .profile--popup {
    display: none;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 220px;
    padding: 10px 25px;
    position: absolute; }
    .profile .profile--popup .profile--triangle {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 15px solid white;
      margin-left: -35px;
      margin-top: 20px;
      float: left; }
    .profile .profile--popup .profile--etitle {
      font-size: 13px; }
    .profile .profile--popup .profile--einput {
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #d5deef;
      width: 100%;
      box-shadow: none; }

.button {
  border: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: inherit; }

.button--margin {
  margin-right: 15px; }

.button--group {
  margin-top: 20px; }

.button--full {
  width: 100% !important; }

.button--icon {
  margin-right: 8px; }

.button--primary {
  background-color: #007ee5;
  color: white !important;
  border: 1px solid #007ee5; }

.button--primary--inverse {
  background-color: transparent;
  border: 1px solid #007ee5;
  color: #007ee5; }

.button--grey--inverse {
  background-color: transparent;
  border: 1px solid #d5deef;
  color: #707d86;
  font-weight: 400; }

.icon {
  display: inline-block;
  background-color: #ecf1f5;
  padding: 6px 10px;
  color: #707d86; }

.icon--edit {
  cursor: pointer; }

.icon--follower {
  font-size: 25px;
  float: left;
  margin-top: -7px;
  margin-right: 5px; }

.icon--title {
  display: none; }

.icon--edit:hover {
  color: white;
  background-color: #007ee5; }

.icon--review {
  margin-right: 1px; }

.icon--text {
  color: #b7b8bf;
  font-size: 14px; }

.hr {
  margin: 20px 0 10px 0;
  border-bottom: 1px solid #d5deef; }
